sportsdataverse~=0.0.39
numpy~=2.3.0
pandas~=2.3.0
requests~=2.32.4
seaborn~=0.13.2
matplotlib~=3.10.3
xgboost~=3.0.2
imbalanced-learn~=0.13.0
scikit-learn~=1.6.1
hyperopt~=0.2.7
beautifulsoup4~=4.13.4
fake-useragent~=2.2.0
python-dotenv~=1.1.0